<div id="main-pannel" class="container-fluid">
  <div id="header">
    <%= render 'layouts/header' %>
  </div>
  <div id="flash-messages">
    <%= render 'layouts/flash-messages' %>
  </div>
  <div id="main-content">
    main-content
  </div>
</div>
