<!DOCTYPE html>
<html lang="he">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Bonjo</title>

</head>

<body class="nav-md footer_fixed">
  <div class="container body">
    <div class="main_container">
      <div id="sidebar" class="col-md-3 right_col">
        <div class="right_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index-rtl.html" class="site_title"><i class="fa fa-paw"></i> <span>Bonjo</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>ברוך הבא,</span>
              <h2>דניאל</h2>
            </div>

            <div class="clearfix"></div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">


            <ul class="nav side-menu">
              <li><a><i class="fa fa-home"></i>דף הבית<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/">לינק 1</a></li>
                  <li><a href="/2">לינק 2</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-edit"></i>עריכה<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/edit">לינק 1</a></li>
                  <li><a href="/edit">לינק 2</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-desktop"></i>אלמנטים<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/desktop">לינק 1</a></li>
                  <li><a href="/desktop">לינק 2</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-table"></i>טבלאות<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/table">לינק 1</a></li>
                  <li><a href="/table">לינק 2</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i>אנליטיקס<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/chart">לינק 1</a></li>
                  <li><a href="/chart">לינק 2</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-clone"></i>תבחר מה אני בבקשה<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="/clone">לינק 1</a></li>
                  <li><a href="/clone">לינק 2</a></li>
                </ul>
              </li>
            </ul>
          </div>


          </div>
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle hidden-md hidden-lg">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-left">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt="">Daniel Macbubi
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-left">
                  <li><a href="javascript:;">פרופיל</a></li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-left">50%</span>
                      <span>הגדרות</span>
                    </a>
                  </li>
                  <li><a href="javascript:;">עזרה</a></li>
                  <li><a href="login.html"><i class="fa fa-sign-out pull-left"></i>התנתק</a></li>
                </ul>
              </li>


              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="left_col" role="main">

      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          ממשק הניהול נבנה בעזרת <a href="https://colorlib.com">Colorlib</a> כל הזכויות שמורות לBonjo
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <!-- <script src="../vendors/jquery/dist/jquery.min.js"></script> -->
  <!-- Bootstrap -->
  <!-- <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script> -->
  <!-- Custom Theme Scripts -->
  <!-- <script src="../build/js/custom.min.js"></script> -->


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
